/* Custom CSS for Epola */
.title-1 {
    font-size: 32pt;
    font-weight: 800;
}

.bold {
    font-weight: bold;
}

.caption-heading {
    font-weight: bold;
    font-size: 11pt;
}

.details-box {
    margin: 32px;
}

/* Make search bar look better */
searchentry {
    border-radius: 12px;
}
